.photos__loading {
  display: flex;
  justify-content: center;
}

.gallery {
  display: grid;
  grid-template-rows: 150px 1fr;
}

.gallery__toolbar {
  height: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery__search {
  margin-left: 220px;
}

.photo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main__title {
    font-family: cursive;
    font-size: 60px;
  }
  
  .photo__list {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  .photo__item {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .photo__item:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .photo__img, .photo__title{
    margin-left: 20px;
  }

  .add__photo__btn {
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    margin: 50px 0px 10px 20px;
}
  
  @media only screen and (max-width: 1300px) {
    .photo__list {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .photo__list {
      grid-template-columns: 1fr;
    }
  }